@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";
@theme {
      --bg-back-primary: #14120b;
      --card: #453e2a;
      --txt: #ece5db;
}
